<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--<appender name="RollingFileAppender" type="log4net.Appender.FileAppender" >
      <file value="d:\test\app.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="3" />
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=slcaporpad1;initial catalog=EDS_TDB;persist security info=True;user id=app_BIDataEntry;password=5pp00bi.ly13IEentr33;" />
      <!--<connectionString value="Data Source=localhost\SQLEXPRESS;database=EDS_TDB;uid=sa;pwd=AppDev.0214;Persist Security Info=True;" />-->
      <!--<connectionString value="Data Source=PHDEVAPP1;database=bide_db;uid=PHWebApp;password=CBPS2017DW$;Persist Security Info=True;" />-->
      <commandText value="INSERT INTO NLog ([Date],[Thread],[Level],[Logger], [Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="RollingFileAppender"/>-->
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="BIDataEntryConnectionString" connectionString="Data Source=slcaporpad1;initial catalog=eds_tdb;persist security info=True;user id=app_BIDataEntry;password=5pp00bi.ly13IEentr33;" />
    <!--<add name="BIDataEntryConnectionString" connectionString="Data Source=slcaporpad1;initial catalog=bidataentry_test;persist security info=True;user id=app_BIDataEntry;password=5pp00bi.ly13IEentr33;" />-->
    <add name="BIDE_DbContext" connectionString="metadata=res://*/DAL.BIDE_Model.csdl|res://*/DAL.BIDE_Model.ssdl|res://*/DAL.BIDE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=slcaporpad1;initial catalog=EDS_TDB;persist security info=True;user id=app_BIDataEntry;password=5pp00bi.ly13IEentr33;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EDS" value="Data Source=slcaporpad1;initial catalog=EDS_TDB;persist security info=True;user id=app_BIDataEntry;password=5pp00bi.ly13IEentr33;" />
    <add key="NullDefaultValueClientID" value="1" />
    <add key="PageSize" value="15" />
    <add key="LastDayProductionDate" value="120" />
    <add key="ValidPeriodForEdit" value="4" />
    <add key="ValidPeriodForView" value="4" />
    <add key="WebTemp" value="c:\WEBTEMP\" />
    <add key="ProgramFiles" value="c:\program files\" />
    <add key="MstrServer" value="SLCAPOCFWEBD1" />
    <add key="MstrScriptFolderLocation" value="scp-temp" />
    <add key="ImpersonateUserName" value="SLCAPOCFWEBD1\SVC_OS_LOCAL_MSTR_AA" />
    <add key="ImpersonateDomain" value="SLCAPOCFWEBD1" />
    <add key="ImpersonatePassword" value="M@st3r!Str@t" />
    <add key="ReportsFolderLocation" value="~/BI_Reports/" />
    <add key="UploadsServerLocation" value="\\bpcwkfxsto1\eds" />
    <add key="UploadsFolderLocation" value="input" />
    <add key="ServerFolderPath" value="~/BI_Reports/" />
    <add key="UploadsServerFolderPath" value="~/Uploads/"/>
    <!--<add key="AllowedFileExtensions" value=".txt,.pdf,.xlsx,.docx,.pptx,.jpg,.jpeg,.gif,.png,.csv" />-->
    <add key="AllowedFileExtensions" value=".tsv,.csv,.xlsx,.xls" />
    <add key="MaxUploadFileSize" value="10000000" />
	  <!--<add key="owin:AppStartup" value="CERES.Web.Api.Startup, CERES.Web.Api" />
	  <add key="owin:AutomaticAppStartup" value="true"/>-->
	  <add key="ExecutiveDashboardUrl" value="http://localhost:3000" />
	  <add key="ExecutiveDashboardUploadsLocation" value="http://slcapoktaadmd2:8090/Uploads" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
    <customErrors defaultRedirect="~/index3.html" mode="On">
      <error statusCode="404" redirect="~/index3.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<remove name="OPTIONSVerbHandler" />-->
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index3.html" />
        <add value="index.html" />
        <add value="login3.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>