@{ ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Dashboard";
    ViewBag.pageTitle = "Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section styles{
    <!-- Application vendor css url-->
    <link href="../assets/cssbundle/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/cssbundle/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="../content/w2ui-1.5.min.css" />
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="../content/dx.common.css">
    <link rel="stylesheet" href="../content/dx.light.css">
    <link rel="stylesheet" type="text/css" href="../content/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="../content/jquery-idle-hands.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://rawcdn.githack.com/dmhendricks/file-icon-vectors/master/dist/file-icon-vectors.min.css" />
    <link href="../content/toastr.min.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    @*<link href="../content/new-style.css" rel="stylesheet" />*@

}

<!-- start: page body -->
<form id="myform" class="myclass" method="get" autocomplete="off">
    <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-0 py-0 mt-0 mt-lg-0">
        <div id="main-panel">
            <div id="selector-panel" class="col-lg-12 col-md-12" style="padding-top: 0rem; padding-bottom: .5rem;">
                <div class="row">
                    <input type="text" hidden id="txtProductionDate" name="txtProductionDate">

                    <div class="card fieldset border border-primary mb-5">
                        <span class="fieldset-tile text-primary bg-body">Selectors:</span>
                        <div class="row g-2 row-deck">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-3">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Client</p>
                                                <div style="padding-right: 5px; padding-left: 5px;">
                                                    <select id="ddlClient" name="ddlClient" class="form-control" required="required">
                                                        <option value="--- Select Client ---">Enterprise One</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="clientMenu" class="dropdown morphing scale-left" style="padding-top:0px;">
                                                @*<button class="btn bg-primary text-white rounded-circle" data-bs-toggle="modal" data-bs-target="#AddNewTran" type="button"><i class="fa fa-plus"></i></button>*@
                                                <a href="#" class="more-icon dropdown-toggle" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                <ul class="dropdown-menu shadow border-0 p-2">
                                                    <li><a class="dropdown-item" href="#" onclick="popupAccountInfoForm();" ;><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Account Info</a></li>
                                                    <li><a class="dropdown-item" href="#" onclick="redirectTo('approvers');"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;&nbsp;Enter Other Data</a></li>
                                                </ul>
                                            </div>

                                            <!--<div class="text-primary ms-auto" id="clientRefresh">-->
                                            @*<i class="ri-stack-line font-size-24"></i>*@
                                            <!--<i class="fa fa-building font-size-24"></i>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-3">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Site &nbsp;&nbsp;</p>
                                                <div style="padding-right: 5px; padding-left: 5px;">
                                                    <select id="ddlSite" name="ddlSite" class="form-control" required="required">
                                                        <option value="--- Select Site ---">DEMO_A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-primary ms-auto" id="siteRefresh">
                                                <i class="fa fa-sitemap font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-3">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Location&nbsp;&nbsp;</p>
                                                <div style="padding-right: 5px; padding-left: 5px;">
                                                    <select id="ddlLocation" name="ddlLocation" class="form-control" required="required">
                                                        <option value="--- Select Location ---">DEMO_A</option>
                                                        <option value="--- Select Location ---">DEMO_AB</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-primary ms-auto" id="locationRefresh">
                                                <i class="fa fa-location-arrow font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-3">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Service Area &nbsp;&nbsp;</p>
                                                <div style="padding-right: 5px; padding-left: 5px;">
                                                    <select id="ddlServiceArea" name="ddlServiceArea" class="form-control svcArea" required="required">
                                                        <option value="--- Select Service Area ---">All</option>
                                                        <option value="--- Select Service Area ---">Central Print</option>
                                                        <option value="--- Select Service Area ---">Commentary/option>
                                                        <option value="--- Select Service Area ---">Facilities</option>
                                                        <option value="--- Select Service Area ---">Hospitality</option>
                                                        <option value="--- Select Service Area ---">Imaging</option>
                                                        <option value="--- Select Service Area ---">Mail</option>
                                                        <option value="--- Select Service Area ---">Managed Print</option>
                                                        <option value="--- Select Service Area ---">Records</option>
                                                        <option value="--- Select Service Area ---">Shipping & Receiving</option>
                                                        <option value="--- Select Service Area ---">Warehouse</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-primary ms-auto" id="serviceAreaRefresh">
                                                <i class="fa fa-server font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 row-deck" id="prod-panel">
                <div id="data-panel" class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Production Data</h6>
                            <button id="btnAddNewTran" class="btn text-white rounded-circle btn-outline-secondary fs-24" data-bs-toggle="modal" data-bs-target="#AddNewTran" type="button"><i class="fa fa-plus-circle"></i></button>
                            <div class="btn-group me-3 justify-content-between" role="group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" onclick="transView = 'ShowPendingTransactions';filterByStatus()">
                                <label class="btn btn-sm btn-outline-secondary" for="btnradio1">Pending</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" onclick="transView = 'ShowAllTransactions';filterByStatus()" checked="">
                                <label class="btn btn-sm btn-outline-secondary" for="btnradio2">All</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" onclick="transView = 'ShowCompletedTransactions';filterByStatus()">
                                <label class="btn btn-sm btn-outline-secondary" for="btnradio3">Completed</label>
                            </div>
                            @*class="d-none d-xl-inline-block*@
                            <div class="dropdown morphing scale-left">
                                <button id="btnExpand" class="btn btn-outline-secondary d-none d-xl-inline-block fs-18" type="button" onclick="expandPanels()"><i class="fa fa-window-restore"></i></button>
                                <a id="btnFullScreen" href="#" class="card-fullscreen" aria-label="Card Full-Screen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="more-icon dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu shadow border-0 p-2" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#" onclick="selectorContext();"><i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;Set Selectors</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="reloadAllUserTrans();"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Reload Transactions</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(true);"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Download Transaction Records (For Upload)</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(false);"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;&nbsp;Export Transaction Records To Csv</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="helpContext();"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;&nbsp;Help On Data Entry</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body gridContainer" id="gridContainer">
                        </div>
                    </div>
                </div>

                <div id="attributes-panel" class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Attributes</h6>
                            <div class="dropdown morphing scale-left">
                                <button id="btnSaveTran1" onclick="saveChanges();" class="btn btn-outline-secondary d-xl-inline-block fs-22" type="button"><i class="fa fa-save"></i></button>
                                <a id="btnFullScreenAttrib" href="#" class="card-fullscreen" aria-label="Card Full-Screen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="more-icon dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu shadow border-0 p-2">
                                    <li><a class="dropdown-item" href="#" onclick="selectorContext();"><i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;Set Selectors</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="reloadAllUserTrans();"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Reload Transactions</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(true);"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Download Transaction Records (For Upload)</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(false);"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;&nbsp;Export Transaction Records To Csv</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="helpContext();"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;&nbsp;Help On Data Entry</a></li>
                                    @*<li><a class="dropdown-item" href="#">Delete Transaction</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="card-body divEntry">
                            <table id="tblAttribFields" class="table table-responsive table-hover">
                                <tbody></tbody>
                            </table>
                            <div class="div-signin-loading-attrib" style="position: fixed; left: 50%;top:30%;z-index:10">
                                <div style="position: relative; left: -50%;">
                                    <img src="../images/2.gif" alt="" width="32px" height="32px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="metrics-panel" class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Metrics</h6>
                            <div class="dropdown morphing scale-left">
                                <button id="btnSaveTran2" onclick="saveChanges();" class="btn btn-outline-secondary d-xl-inline-block fs-22" type="button"><i class="fa fa-save"></i></button>
                                <a id="btnFullScreenMetrics" href="#" class="card-fullscreen" aria-label="Card Full-Screen"><i class="icon-size-fullscreen"></i></a>
                                <a href="#" class="more-icon dropdown-toggle" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu shadow border-0 p-2">
                                    <li><a class="dropdown-item" href="#" onclick="selectorContext();"><i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;Set Selectors</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="reloadAllUserTrans();"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Reload Transactions</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(true);"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Download Transaction Records (For Upload)</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="exportToCsv(false);"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;&nbsp;Export Transaction Records To Csv</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="helpContext();"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;&nbsp;Help On Data Entry</a></li>
                                    @*<li><a class="dropdown-item" href="#">Delete Transaction</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="card-body divEntry">
                            <table id="tblMetricFields" class="table table-responsive table-hover">
                                <tbody></tbody>
                            </table>
                            <input id="myFormSubmitButton" type="submit" value="Save Changes" hidden class="class=" btn btn-primary submit" />
                        </div>
                    </div>
                </div>
                @*</div>*@
            </div> <!-- .row end -->
            <div id="context-menu"></div>
            <!--brb 5/20/2022-->
            <div id="context-menu1"></div>
            <!--brb 5/23/2022-->
            <div id="context-menu2"></div>
        </div>
    </div>
</form>

@section scripts{
    <!-- App js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/basil.js/0.4.10/basil.min.js"></script>

    <script src="../scripts/jquery.validate.min.js"></script>
    <!--<script src="Scripts/additional-methods.min.js"></script>-->

    <script src="../scripts/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../scripts/w2ui-1.5.min.js"></script>
    <!-- DevExtreme library -->
    <script type="text/javascript" src="../scripts/dx.all.js"></script>

    <script src="../scripts/toastr.min.js"></script>
    <script src="../scripts/jquery-idle-hands.js"></script>

    <script src="../assets/js/app.js"></script>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/index.js"></script>
    @*<script src="../scripts/ceres.js"></script>*@

    <script>
        $(document).ready(function () {
            //let delayInMilliseconds = 3000;
            //setTimeout(function () {
            init();
            //}, delayInMilliseconds);

            $('input[rel="txtTooltip"]').tooltip();

            $("[data-toggle=tooltip]").tooltip({
                placement: $(this).data("placement") || 'top'
            });

            // date range picker
            $('input[name="daterange"]').daterangepicker({
                opens: 'right'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        })
    </script>

}
