@supports (-ms-ime-align:auto)

html, body{
    height:100%;
}

body {
    margin:0px;
    /*background-color:#fff !important; */
    font-family:Arial, Helvetica, sans-serif;
    /*color:#000 !important;*/
    font-size:1.3em;
    line-height:1.5;
    text-align:left;
}

img{
    display:block;
    width:50%;
    height:auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 1em 0;
}

table{
    text-align:left;
}

p{
    font-size:14px !important;
}

div.divLabel {
    color: #000;
    text-align: left !important;
    font-weight:bold;
}

.box{padding-top: 5px;}

.bg-image {
    position: absolute;
    background: #fff url(./images/CBPS_LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0;
}

#header{
        grid-area: h;
    }

/*.s-panel {
    display: inline-block;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
}*/

#main {
    grid-area: m;
    padding: 5px;
    margin-top: 0px;
    /*background-color: #eaeaea;*/
  /*  background-image: linear-gradient(#eaeaea, #dedcdc);
    color: #fff;*/
    /*-ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self:center;*/
}


#footer {
    grid-area: f;
    background-image: linear-gradient(to right, #dedcdc, #ffffff);
    text-align: center;
}
#footer, #bi_logo_LR {
    position: sticky;
    position: absolute;
    background-color: #dedcdc; /*#eaeaea;*/
    color: #333;
    font-size: x-small;
    bottom: 0px;
    height: 70px;
    width: 100%;
    z-index: 3;
}

#bi_logo_LR {
    grid-area: lr;
    background-color: #fff !important;
    padding-top:10px;
}



#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(138px, 1fr));
    grid-template-rows: 60px 880px 70px;
    grid-template-areas: 
        "h h u" 
        "m m m" 
        "p p p" 
        "n n n" 
        "o o o" 
        "f f f";
}


@media screen and (min-width: 476px) and (max-width: 1920px) {
    #grid-container {
        display: grid;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(12,1fr);
        -ms-grid-rows: 60px 880px 70px;
        grid-template-rows: 60px 880px 70px;
        grid-column-gap: 0px;
        grid-template-areas: "h h h h h h h h h h h u" "m m p p p p p p p p p p" "f f f f f f f f f f lr lr";
    }



    #header {
        border-bottom: thin;
        border-color: #333;
        grid-column: 1 / span 11;
        grid-row: 1 / span 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 11;
        -ms-grid-row: 1;
    }

    .bg-image {
        position: absolute;
        background: #fff url(../images/small%20cbpslogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        width: 100%;
        height: 76px;
        text-align: center;
        margin: 0;
    }
}
