@supports (-ms-ime-align:auto)

html, body{
    height:100%;
}

body {
    margin:0px;
    background-color:#fff !important; 
    font-family:Arial, Helvetica, sans-serif;
    color:#000 !important;
    font-size:1.3em;
    line-height:1.5;
    text-align:center;
}

img{
    display:block;
    width:50%;
    height:auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 1em 0;
}

table{
    text-align:left;
}

p{
    font-size:14px !important;
}

div.divLabel {
    color: #000;
    text-align: left !important;
    font-weight:bold;
}

.box{padding-top: 5px;}

.bg-image {
    position: absolute;
    background: #fff url(./images/CBPS_LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0;
}

#header{
        grid-area: h;
    }

#off {
    grid-area: u;
    color: #333;
    text-align: right;
    min-height: 70px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-top: 20px;
    padding-right: 5px;
}

#about {
    grid-area: u;
    color: #333;
    text-align: right;
    min-height: 70px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-top: 20px;
    padding-right: 5px;
}

#settings {
    grid-area: u;
    color: #333;
    text-align: right;
    min-height: 70px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-top: 20px;
    padding-right: 5px;
}

#user {
    grid-area: u;    
    color: #333;
    text-align:right;    
    min-height:70px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self:center;
    padding-top: 20px;
    padding-right: 5px;
}

.user-icon{
    font-size:14px;
    color:#333;    
}

.user-name {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    font-size: 14px;
}

.info-sign {
    padding-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    font-size: 14px;
    color: #337ABC;
}

.s-panel {
    display: inline-block;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
}

.load-more-data-count{
    margin-top:15px;
    margin-right:10px;
}
.load-more-data{margin-top:15px;}
.search-bar{padding-bottom:5px;}
.glyphicon-plus{
    font-size: 18px !important;
    color:#67c117;
}

/*#bi_logo_LR {
    width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0;
    position: sticky;
    position: absolute;
}*/
/*.d-panel {
    text-align: left;
    background-color: #dff0d8 !important;
}

.dd-panel {
    padding: 0 0 !important;
    margin-top: 5px;
}*/
.search-bar {
    width: 50%;
}

#left-panel {
    grid-area: l;
    display: block;
}

#main {
    grid-area: m;
    padding: 5px;
    margin-top: 30px;
    /*background-color: #eaeaea;*/
    background-image: linear-gradient(#eaeaea, #dedcdc);
    color: #fff;
    /*-ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self:center;*/
}

#main-attrib-capture{grid-area: n}
#main-metric-capture{grid-area: o}
#main-data-list{
    grid-area: p;    
}


/*.ui-datepicker-calendar, div.datepicker-days table {
    display: none;
}*/
.glyphicon-search-db {
    font-weight: bolder;
    font-size: 16px;
}

.btn-group-search{padding: 0;}
#dropdown-menu-search{left: -110px;}
#main-data-list, #main-metric-capture, #main-attrib-capture {
    overflow-y: auto;
}

#footer {
    grid-area: f;
    background-image: linear-gradient(to right, #dedcdc, #ffffff);
}
#footer, #bi_logo_LR {
    position: sticky;
    position: absolute;
    background-color: #dedcdc; /*#eaeaea;*/
    color: #333;
    font-size: x-small;
    bottom: 0px;
    height: 70px;
    width: 100%;
    z-index: 3;
}

#bi_logo_LR {
    grid-area: lr;
    background-color: #fff !important;
    padding-top:10px;
}

.required-label{
    color:#f00;
    font-weight:bold;
}

#left-panel div div:hover {
    background-color: #eaeaea;
    cursor: pointer;
    color: #333;
}

#left-panel div{
min-height: 30px;
}

#left-panel div div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding-top: 16px;
  padding-bottom: 16px;  
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  float: left;
  width: 50%;  /*NUMBER OF ITEMS */
  
  margin: auto;  
}

    #left-panel div div:first-child {
        /*width: 34%;*/
    }



#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(138px, 1fr));
    grid-template-rows: 60px 880px 70px;
    grid-template-areas: 
        "h h u" 
        "m m m" 
        "p p p" 
        "n n n" 
        "o o o" 
        "f f f";
}

.calendar-icon{cursor:pointer;}
.glyphicon-remove{color:#f00 !important;}

.glyphicon{cursor:pointer;}

.glyph-act-button:hover {
    font-weight:bolder;    
}

/*.panel-act-button {
    height: 50px;
    background-color: #dff0d8;
}*/
#tblSavedData tbody tr {
    cursor:pointer;
}
#tblSavedData td:first-child {
    white-space: nowrap;
    width: 54px;
}

.toast {
    font-size: 24px !important;
}

.load-more-data{cursor:pointer;}

.div-signin-loading, .div-signin-loading-attrib {
    display: inline-block;
}

    .div-signin-loading img, .div-signin-loading-attrib img {
        width: 32px;
        height: 32px;
    }

.modal-dialog {
    width: 70%;
    margin: 30px auto;
}
.modal-backdrop {
    display: none !important;
}

.glyphicon-home, .glyphicon-arrow-left, .glyph-act-button {
    padding: 0px 5px;
    color: #333;
    font-size: 20px;
}

@media screen and (min-width: 476px) and (max-width: 1920px) {
    #grid-container {
        display: grid;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(12,1fr);
        -ms-grid-rows: 60px 880px 70px;
        grid-template-rows: 60px 880px 70px;
        grid-column-gap: 0px;
        grid-template-areas: "h h h h h h h h h h h u" "m m p p p p p p p p p p" "f f f f f f f f f f lr lr";
    }



    #header {
        border-bottom: thin;
        border-color: #333;
        grid-column: 1 / span 11;
        grid-row: 1 / span 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 11;
        -ms-grid-row: 1;
    }

    #user {
        grid-column: 12 / span 1;
        grid-row: 1 / span 1;
        -ms-grid-column: 12;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
    }

    #main-data-list {
        grid-area: p;
        padding: 5px 10px;
        grid-column: 3 / span 10;
        grid-row: 2 / span 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 10;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }
        /*#main-data-list {
        -ms-grid-column: 3;
        -ms-grid-column-span: 10;
        -ms-grid-row: 2;
    }*/
    #main {
        padding: 0px;
        padding: 10px 10px;
        margin-top: 0;
        height: 100%;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
    }

    #main-attrib-capture, #main-metric-capture {
        background-color: #fff;
    }
    #main-attrib-capture {
        padding-left: 10px;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    #main-metric-capture {
        padding-left: 10px;
        -ms-grid-column: 6;
        -ms-grid-column-span: 7;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    #footer {
        grid-column: 1 / span 10;
        grid-row: 3 / span 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 10;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
    }

    /*#bi_logo_LR {
        grid-column: 11 / span 2;
        grid-row: 3 / span 1;
        -ms-grid-column: 11;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;        
    }
    #footer, #bi_logo_LR {
        position: sticky;
        position: page;
    }*/

    .bg-image {
        position: absolute;
        background: #fff url(../images/small%20cbpslogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        width: 100%;
        height: 76px;
        text-align: center;
        margin: 0;
    }

/*    .bg-image {
        cursor: pointer;
    }
*/

    #left-panel div div, #left-panel div div:first-child {
        width: 100%;
    }

    #left-panel div div {
        float: none;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    #left-panel, #left-panel div, #left-panel div div {
        background-color: #333;
        color: #fff;
    }

        #left-panel div {
            text-align-last: start;
            text-align-last: left;
        }
}
